@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1350px;
    min-width: 1280px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* CABEÇALHO */
header{
    width: 100%;
    height: 70px;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    position: fixed;

    background: #fff;
}
.cabecalho{
    display: flex;
    align-items: center;
    padding-top: 25px;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
}
.cabecalho-nav{
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho-nav a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #000;
    text-decoration: none;

    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 1px;
}
.cabecalho-nav a:hover{
    font-weight: 600;
    font-size: 16px;

    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 1px;
}
/* CONTEÚDO PRINCIPAL - SECTION 01*/
.mostruario{
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 75%;
}
ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 40px;
    flex-wrap: wrap;
}
ul li{
    width: 296px;
    background: #d3d3d3;
    border: 3px solid #d3d3d3; 

    display: flex;
    align-items: center;
    flex-direction: column;
}
ul li:hover{
    border: 3px solid black;
}
ul li div{
    width: 290px;
    height: 254px;
    background: white;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: 15px;
}
ul li div span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    width: 80px;
    height: 24px;

    background: #d3d3d3;
}
ul li div h2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.desc{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.valor{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
ul li div button{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 155px;
    height: 25px;
    background: #F7CA00;
    border: none;
    border-radius: 5px;
}
ul li div .btnAdd:hover{
    background: rgb(255, 178, 35);
    cursor: pointer;
}
/* CONTEÚDO PRINCIPAL - SECTION 02*/
.info{
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-search{
    gap: 10px;
    display: flex;
}
.info input{
    width: 240px;
    height: 52px;
    padding: 15px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    background: #F5F5F5;
    border: 1px solid #F5F5F5;
    border-start-start-radius: 10px;
}
.btnSearch{
    width: 90px;
    height: 52px;
    left: 1392px;
    top: 122px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    background: #F7CA00;
    border: 1px solid #F7CA00;
    border-end-end-radius: 10px;
}
.btnSearch:hover{
    cursor: pointer;
}
.info-car{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-car h2{
    width: 340px;
    height: 50px;
    border: 2px solid #F7CA00;   
    background: #F7CA00;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.carrinho-compras{
    width: 340px;
    height: 300px;
    padding: 5px;
    flex-wrap: wrap;

    border-right: 3px solid #F5F5F5;
    border-left: 3px solid #F5F5F5;

    overflow-y: scroll;
}
.carrinho-compras ul{
    display: flex;
    align-items: flex-start;

    background-color: transparent;
    max-width: 340px;
    padding: 5px;
    gap: 10px;
}
.carrinho-compras ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    height: 120px;
    border: solid #ccc 1px;
    max-width: 100%;

    padding: 5px;
    border-radius: 5px;
}
.carrinho-compras ul li.oferta::before{

}
.carrinho-compras ul li img{
    max-width: 30%;
}
.carrinho-compras ul li div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;

    padding: 5px 10px;
    gap: 5px;
    border-radius: 5px;

    width: 70%;
    height: 100%;
}
.carrinho-compras ul li h3{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.carrinho-compras ul li p{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}
.carrinho-compras ul li button{
    background-color: #F7CA00;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    padding:5px;
    right: 10px;
    width: 100%;
    height: 20px;

    border-radius: 10px;
    border-color: #000;
    top: -5px;
}
.carrinho-compras ul li:hover button{
   opacity: 1;
}
.info-final{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 340px;
    height: 120px;
    padding: 20px;

    color: #000;
    background: #d3d3d3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.quantidade{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-final{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.span-final{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}